@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

body {
    -webkit-animation: fadein 4s;
    font-family: 'Roboto', sans-serif;
    background-color: #dedede;
    background-image: linear-gradient( 125deg, #ffffff, #ffffff 1%, #dedede 11%, #dedede 18%, 
    #b8b8b8 23.57%, transparent 23.57%, transparent 100% ),
	
    linear-gradient( 109deg, transparent, #dedede 73%, #949494 100% );
}

header {
    text-align: center;
}

main {
    text-align: center;
    padding: 0% 20%;
}

section {
    padding: 3% 0%;
}

footer {
    text-align: center;
}

/* HEADER */
#fotoperfil {
    width: 170px;
    height: 170px;
    object-fit: cover;
    border: 2px solid black;
    border-radius: 50%;
    transition: transform .5s;
}

#fotoperfil:hover {
    transform: scale(1.05);
}

#comentario {
    font-style: italic;
    font-weight: 900;
}

/* MAIN */

/* FOOTER */